html,
body {
    height: 100%;
	background: url("../images/Canada_Full.PNG") no-repeat center center fixed;
    -webkit-background-size: cover;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

hr {
    margin-top: -13px;
}	
.iframe-nav {
	color: white;
    padding: 0;
}
a{ 
	color: white;
}
a:focus, a:hover {
    color: #2424FB;
}
.iframe-nav li {
    display: inline;
}

.iframe-nav:active , .active{
	color: white;
}	

.iframe-nav li a {
    padding: 10px 20px;
	font-size: 12px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
	font-weight:bold;
	background-color:#2387eb;
	border:1px solid #2387eb;
	padding: 7px 10px;
	cursor:pointer;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	
	
}

.iframe-content {
	padding-left: 20px;
	padding-right: 20px;
}

.item,
.carousel-inner {
    height: 100%;
	color: rgb(179, 230, 255);
}

.hero-spacer {
    margin-top: 0px;
}

.hero-feature {
    margin-bottom: 30px;
}

.navbar-fixed-top .nav {
    padding: 5px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.landingPagePic.resize{ 
	width:50px;
	height:auto;
}
.landingPagePic {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 42px;
	height: 42px;
	border-radius: 38px;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	background: url(../images/Travis_Vanos_Small.png) no-repeat;
	margin-left: auto;
    margin-right: auto;
	}

@media(min-width:768px) {
    body {
        padding-top: 10px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
		margin-left: 25PX;
		margin-right: 25px;
    }
}
	
/* Background images are set within the HTML using inline CSS, not here */
.container{ 
	text-align: center;
}	
.container h1 {
	color: white;
	font-size: 3.5em;
	padding-top: 70px;
}
.container h3{ 
	color: rgb(179, 230, 255);
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full {
	background: url("../images/Canada_Snip.PNG") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	opacity: 0.1;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */
.small{
	
	Text-align: center;
	color: rgb(109, 209, 224);
}

.list-inline  li{
	color:black;
}

footer {
    padding: 100px 0;
	color: rgb(109, 209, 224);
}